.results-table {
  position: fixed;
  top: 16.8rem;
  bottom: 1.2rem;
  left: calc(255px + 1.2rem);
  right: calc(100% - (255px + 1.2rem + 22.8rem + 1.2rem) + 1.2rem);
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1rem;
  overflow-y: auto;
  color: #213547;
}
.results-table .graph-title {
  z-index: 1;
}
.results-table__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}
.results-table__table th {
  text-align: right;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
}
.results-table__table th:first-child {
  text-align: left;
}
.results-table__table td {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}
.text-right {
  text-align: right;
} 
.results-table__table th {
  font-size: 0.7rem;    
  line-height: 1.4;       
}
.results-table__table td {
  font-size: 0.65rem;     
  line-height: 1;
}
.results-table::-webkit-scrollbar {
  width: 6px;                
}
.results-table::-webkit-scrollbar-track {
  background: transparent;   
}
.results-table::-webkit-scrollbar-thumb {
  background-color: rgba(33, 53, 71, 0.2);  
  border-radius: 3px;
}
.results-table {
  scrollbar-width: thin;      
  scrollbar-color: rgba(33, 53, 71, 0.2) transparent;
}